$widgetPadding: 20px;


@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.clr-container-collapsed{
  background: #F8F8F8; //TODO just delete it when integrated with real farticles article
  overflow: hidden;
  height: 300px;
  position: relative;

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 265px;
    position: absolute;
    bottom: 0px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.91) 89%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(255,255,255,0.91)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 89%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 89%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 89%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.91) 89%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  }
}

.clr-container-blured {
  border-bottom: 1px solid black;
}

.clr-click-more {
  margin: -65px auto 50px auto;
  display: block;
  position: relative;
  height: 35px;
  padding: 0px 50px;
  font-size: 15px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 7px;

  background: #1D84A3;
}


.most-shared-container {
  font-family: arial; // TODO checkt it when integrated with real farticles article. Then delete?


  .most-shared-header {
    padding: 0px $widgetPadding;
    color: #888888;
    font-size: 20px;
    margin: 20px 0 0px;
  }

  ul, li {
    list-style: none;
    padding: 0px;
  }

  .most-shared-article {
    display: table;
    width: 100%;
    padding: 0px $widgetPadding;
    height: 100px;
    box-sizing: border-box;

    // For odd and even default
    .most-shared-img,
    .most-shared-info {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
    }

    .most-shared-img {
      padding-right: 20px;
      max-width: 142px;

      img {
        max-height: 80px;
      }
    }

    .most-shared-info {

      .shared-title {
        font-weight: bold;
        color: #3F96B1;
        max-height: 32px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        text-decoration: none;
      }

      .shared-nr {
        margin-top: 5px;
        color: #888888;
      }
    }

    // For odd and event diffs
    &:nth-child(odd) {
      background: #fff;
    }

    &:nth-child(even) {
      background: #F8F8F8; // TODO checkt it when integrated with real farticles article. Option to change to "transparent"
    }
  }
}















